---
import type { HTMLAttributes } from 'astro/types';
import BaseHead, { type BaseHeadProps } from '@layouts/BaseHead/BaseHead.astro';

import '@styles/global.css';
import './BaseHtml.style.module.css';

export type CSSTheme = 'default' | 'dark-theme';

interface Props extends Omit<HTMLAttributes<'head'>, 'title'>, BaseHeadProps {
  theme?: CSSTheme;
}

const { theme = 'default', seoProps, jsonLd, ...props }: Props = Astro.props;
---

<!doctype html>
<html data-theme={theme} lang='en' class='bg-primary' {...props}>
  <BaseHead seoProps={seoProps} jsonLd={jsonLd} />

  <body class=`min-h-dvh`>
    <slot />
  </body>
</html>
