node_modules
dist
build
.astro
.claude
.husky
.vscode
docs
best-practices
commitlint.config.js
package-lock.json
src/db/migrations/

**/*.md
**/*.mdx

# we are keeping the astro.config.mjs file compact,
# especially for envs definitions that would end up
# wrapping and taking up a lot of lines of code
astro.config.mjs
