/* Basic text elements */
.markdown-content p {
  background-color: red;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
  color: blue;
}

.markdown-content a {
}

/* Lists */
.markdown-content ul {
  list-style-type: none;
}

.markdown-content ol {
  list-style-type: decimal;
}

.markdown-content li {
}
/* Code-related Elements */
.markdown-content code {
}

.markdown-content pre {
}

.markdown-content kbd {
}
/* Quotes */

.markdown-content blockquote {
}

.markdown-content q {
}

/* Tables */
.markdown-content table {
}

.markdown-content thead {
}

.markdown-content tbody {
}

.markdown-content tfoot {
}

.markdown-content tr {
}
.markdown-content th {
}
.markdown-content td {
}

/* Inline Elements: */
.markdown-content mark {
}

.markdown-content abbr {
}

/* Other */

.markdown-content details {
}

.markdown-content summary {
}

.markdown-content time {
}

.markdown-content hr {
}
