---
import type { ComponentProps } from 'astro/types';
import Card from './Card.astro';
import { cn } from '../../utils/cn';

interface Props extends ComponentProps<typeof Card> {
  emoji: string;
  title: string;
  description: string;
}

const {
  class: className,
  description,
  title,
  emoji,
  ...props
}: Props = Astro.props;
---

<Card
  class={cn('bg-accent-100 p-6 text-center hover:rotate-2', className)}
  {...props}
>
  <div
    class='bg-danger mx-auto mb-4 flex h-16 w-16 items-center justify-center rounded-lg'
  >
    <span class='text-2xl font-bold text-white'>{emoji}</span>
  </div>
  <h3 class='text-secondary mb-2 text-lg font-bold'>{title}</h3>
  <p class='text-secondary text-sm'>
    {description}
  </p>
</Card>
