@layer base {
  html[data-theme='dark-theme'] {
    --color-primary: fuchsia;
    --color-secondary: #909090;
    --color-success: #6ccade;
    --color-danger: #8a170b;
    --color-info: #ffffff;
    --color-label: #ffffff0d;

    --font-primary: 3rem;
    --font-label: 2rem;
  }
}
