/* Quick guide for theming using Tailwind and custom theme css files: https://canopas.com/the-ultimate-guide-to-crafting-tailwind-css-themes-b43491843ebb */

/* Color palette used for primary, secondary, accent, accent2, accent3: https://coolors.co/f4f0fa-00020a-ff3de9-36e6ff-e6ff36*/
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-VariableFont_slnt,wght.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Thin.ttf');
  font-weight: 100 lighter;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-ThinItalic.ttf');
  font-weight: 100 lighter;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Italic.ttf');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Black.ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Thin.ttf');
  font-weight: 100 lighter;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-ThinItalic.ttf');
  font-weight: 100 lighter;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-ExtraLightItalic.ttf');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Regular.ttf');
  font-weight: 400 normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Italic.ttf');
  font-weight: 400 normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-Black.ttf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins/Poppins-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

html,
html[data-theme='default'] {
  /*
  *==========================
  *========= Colors =========
  *==========================
  */
  --color-primary: #f4f0fa;
  --color-primary-100: #ffffff;
  --color-primary-200: #fcfbfe;
  --color-primary-300: #faf8fd;
  --color-primary-400: #f7f4fb;
  --color-primary-500: #f4f0fa;
  --color-primary-600: #e3d9f2;
  --color-primary-700: #d2c2eb;
  --color-primary-800: #c2abe3;
  --color-primary-900: #b194db;

  --color-secondary: #00020a;
  --color-secondary-100: #00061e;
  --color-secondary-200: #000519;
  --color-secondary-300: #000414;
  --color-secondary-400: #00030f;
  --color-secondary-500: #00020a;
  --color-secondary-600: #000000;
  --color-secondary-700: #000000;
  --color-secondary-800: #000000;
  --color-secondary-900: #000000;

  --color-accent: #ff3de9;
  --color-accent-100: #ffa3f5;
  --color-accent-200: #ff8af2;
  --color-accent-300: #ff70ef;
  --color-accent-400: #ff57ec;
  --color-accent-500: #ff3de9;
  --color-accent-600: #ff0ae3;
  --color-accent-700: #d600be;
  --color-accent-800: #a30091;
  --color-accent-900: #700063;

  --color-accent2: #3de9ff;
  --color-accent2-100: #ccf9ff;
  --color-accent2-200: #a8f5ff;
  --color-accent2-300: #84f1ff;
  --color-accent2-400: #61edff;
  --color-accent2-500: #3de9ff;
  --color-accent2-600: #05e3ff;
  --color-accent2-700: #00b5cc;
  --color-accent2-800: #008394;
  --color-accent2-900: #00515c;

  --color-accent3: #e9ff3d;
  --color-accent3-100: #f9ffcc;
  --color-accent3-200: #f5ffa8;
  --color-accent3-300: #f1ff84;
  --color-accent3-400: #edff61;
  --color-accent3-500: #e9ff3d;
  --color-accent3-600: #e4ff0f;
  --color-accent3-700: #c7e000;
  --color-accent3-800: #9eb200;
  --color-accent3-900: #758400;

  --color-success: #10ea59;
  --color-warning: #ffe347;
  --color-danger: #f41901;

  /*
  *==========================
  *========= Fonts =========
  *==========================
  */

  font-family: 'Inter', 'Poppins', 'Roboto', sans-serif;
  --font-primary: 3rem;
}

:root {
  scrollbar-color: var(--color-accent) var(--color-primary-700);
  scrollbar-width: thin;
  /* scrollbar-gutter: stable; */
}
