---
import Link from '@components/Link/Link.astro';
import type { HTMLAttributes } from 'astro/types';
import { cn } from '@utils/cn';
import DuckyCodingLogo from '@assets/images/DuckyCoding_logo.png';
import { Image } from 'astro:assets';

export interface NavbarProps {}

interface Props extends HTMLAttributes<'nav'>, NavbarProps {}

const { class: className, ...props }: Props = Astro.props;
---

<nav
  class={cn(
    'overflow-y-visible overflow-x-hidden md:overflow-x-visible bg-primary-700 top-0 left-0 md:top-0 md:left-0 fixed md:static h-dvh w-full flex flex-col md:h-auto md:flex-row gap-x-8 px-8 md:px-0 pb-8 pt-16 md:py-0 max-w-96 gap-y-4 border-comic border-secondary border-y-0 border-l-0 md:border-none md:justify-end',
    className,
  )}
  {...props}
>
  <div
    class='flex shrink-0 items-center justify-start gap-4 font-semibold md:hidden'
  >
    <Image
      alt={'DuckyCoding logo'}
      src={DuckyCodingLogo}
      width={50}
      densities={[1.5, 2]}
      class='max-w-none'
    />
    <h2 class='text-secondary text-3xl md:hidden lg:block'>DuckyCoding</h2>
  </div>
  <ul class='flex h-full flex-col gap-4 md:flex-row md:items-center'>
    <li>
      <Link
        href={'/'}
        class={'text-3xl md:text-base text-secondary font-medium w-full'}
        >Home</Link
      >
    </li>
    <li>
      <Link
        href={'/topics'}
        size={'medium'}
        variant={'default'}
        class={'text-3xl md:text-base text-secondary font-medium w-full'}
        >Topics</Link
      >
    </li>
    <li>
      <Link
        href={'/md/test'}
        class={'text-3xl md:text-base text-secondary font-medium w-full'}
      >
        Test Markdown
      </Link>
    </li>
  </ul>
  <p id='scroll-tip' class='hidden text-center text-base italic md:hidden'>
    Did you know: You can swipe right to open the side menu and left to close
    it.
  </p>
</nav>

<script>
  if ('ontouchstart' in document.documentElement) {
    const scrollTip = document.getElementById('scroll-tip');
    scrollTip?.classList?.remove('hidden');
  }
</script>
