---
import Navbar from '@components/Navbar/Navbar.astro';
import type { HTMLAttributes } from 'astro/types';
import { Image } from 'astro:assets';
import DuckyCodingLogo from '@assets/images/DuckyCoding_logo.png';
import HamburgerToggle from '@components/HamburgerToggle/HamburgerToggle.astro';
import Link from '@components/Link/Link.astro';
import { cn } from '@utils/cn';
import { IMAGE_DENSITIES } from '@utils/globals';

export interface HeaderProps {}

interface Props extends HTMLAttributes<'header'>, HeaderProps {}

const { class: className, ...props }: Props = Astro.props;
---

<header
  class={cn(
    'bg-primary-700 border-comic border-secondary sticky top-0 z-10 [grid-area:header] border-x-0 border-t-0',
    className,
  )}
  {...props}
>
  <div
    class='mx-auto flex max-w-7xl items-stretch justify-between gap-x-8 px-4 py-2 md:px-8'
  >
    <HamburgerToggle
      id='site_side_navigation_menu_id'
      title='navigation menu toggle'
      class='peer absolute z-20 shrink-0 md:hidden'
      variant={'small'}
    />
    <div class='mx-auto md:mx-0' aria-hidden='true'>
      <Link
        href='/'
        variant='unstyled'
        class='md:justify-start'
        id='logo'
        tabindex={-1}
      >
        <Image
          alt={'DuckyCoding logo'}
          src={DuckyCodingLogo}
          width={38}
          densities={IMAGE_DENSITIES}
          class='max-w-none'
        />
      </Link>
    </div>
    <Navbar
      id='primary-navigation'
      class='fixed z-10 overflow-hidden transition-transform peer-checked:flex peer-checked:translate-x-0 peer-[:not(checked)]:-translate-x-full md:ml-auto md:peer-[:not(checked)]:translate-x-0'
    />
  </div>
</header>

<style>
  #logo:checked {
    transform: translateX(1000px);
  }
</style>
