---
import type { HTMLAttributes } from 'astro/types';
import Link from '@components/Link/Link.astro';
import { cn } from '@utils/cn';
import GitHubIcon from '../../components/Icons/GitHubIcon/GitHubIcon.astro';
import InstagramIcon from '../../components/Icons/InstagramIcon/InstagramIcon.astro';
import TikTokIcon from '../../components/Icons/TikTokIcon/TikTokIcon.astro';
import XIcon from '../../components/Icons/XIcon/XIcon.astro';
import YouTubeIcon from '../../components/Icons/YouTubeIcon/YouTubeIcon.astro';
import LinkedInIcon from '../../components/Icons/LinkedInIcon/LinkedInIcon.astro';

export interface FooterProps {}

interface Props extends HTMLAttributes<'footer'>, FooterProps {}

const { class: className, ...props }: Props = Astro.props;
---

<footer
  class={cn(
    'grid gap-y-4 bg-primary-700 border-4 border-secondary py-8 [grid-area:footer] border-x-0 border-b-0 px-8',
    className,
  )}
  {...props}
>
  <h2
    class='decoration-accent text-center text-2xl font-extrabold wrap-anywhere underline underline-offset-6'
  >
    Stay in touch
  </h2>

  <nav class='mx-auto flex min-h-12 max-w-7xl flex-wrap items-center gap-x-6'>
    <Link
      target='_blank'
      rel='noopener noreferrer'
      href='https://github.com/duckycoding-dev'
      variant={'default'}
      class='text-secondary'
    >
      <GitHubIcon size={50} />
    </Link>
    <Link
      target='_blank'
      rel='noopener noreferrer'
      href='https://x.com/ducky_coding'
      variant={'default'}
      class='text-secondary'
    >
      <XIcon size={50} />
    </Link>
    <Link
      target='_blank'
      rel='noopener noreferrer'
      href='https://www.linkedin.com/in/davide-m-997874254/'
      variant={'default'}
      class='text-secondary'
    >
      <LinkedInIcon size={50} />
    </Link>
    <Link
      target='_blank'
      rel='noopener noreferrer'
      href='https://www.instagram.com/ducky.coding/'
      variant={'default'}
      class='text-secondary'
    >
      <InstagramIcon size={50} />
    </Link>
    <Link
      target='_blank'
      rel='noopener noreferrer'
      href='https://www.tiktok.com/@ducky.coding'
      variant={'default'}
      class='text-secondary'
    >
      <TikTokIcon size={50} />
    </Link>
    <Link
      target='_blank'
      rel='noopener noreferrer'
      href='https://www.youtube.com/@ducky.coding'
      variant={'default'}
      class='text-secondary'
    >
      <YouTubeIcon size={50} />
    </Link>
  </nav>

  <section class='flex flex-col items-center justify-center wrap-anywhere'>
    <small>Copyright &copy; 2024 - DuckyCoding - All Rights Reserved</small>
    <small>Built with Astro</small>
  </section>
</footer>
