---
import type { HTMLAttributes } from 'astro/types';
import Link from '@components/Link/Link.astro';
import { cn } from '@utils/cn';
import GitHubIcon from '../../components/Icons/GitHubIcon/GitHubIcon.astro';
import InstagramIcon from '../../components/Icons/InstagramIcon/InstagramIcon.astro';
import TikTokIcon from '../../components/Icons/TikTokIcon/TikTokIcon.astro';
import XIcon from '../../components/Icons/XIcon/XIcon.astro';
import YouTubeIcon from '../../components/Icons/YouTubeIcon/YouTubeIcon.astro';

export interface FooterProps {}

interface Props extends HTMLAttributes<'footer'>, FooterProps {}

const { class: className, ...props }: Props = Astro.props;
---

<footer
  class={cn(
    'grid gap-y-4 bg-primary-700 border-comic border-secondary py-8 [grid-area:footer] border-x-0 border-b-0',
    className,
  )}
  {...props}
>
  <h2 class='text-center text-2xl font-extrabold'>Stay in touch</h2>

  <nav class='mx-auto flex min-h-12 max-w-7xl items-center gap-8 px-8'>
    <Link href='https://github.com/duckycoding-dev' variant={'unstyled'}>
      <GitHubIcon size={50} />
    </Link>
    <Link href='https://x.com/ducky_coding' variant={'unstyled'}>
      <XIcon size={50} />
    </Link>
    <Link href='https://www.instagram.com/ducky.coding/' variant={'unstyled'}>
      <InstagramIcon size={50} />
    </Link>
    <Link href='https://www.tiktok.com/@ducky.coding' variant={'unstyled'}>
      <TikTokIcon size={50} />
    </Link>
    <Link href='https://www.youtube.com/@ducky.coding' variant={'unstyled'}>
      <YouTubeIcon size={50} />
    </Link>
  </nav>

  <section class='flex justify-center md:col-span-full'>
    <small>Copyright &copy; 2024 - DuckyCoding - All Rights Reserved</small>
  </section>
</footer>
